<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootvue3.mapper.GoodsMapper">
<select id="goodsList" resultType="map">
    select * from goods left join goods_category on goods.cid=goods_category.category_id order by id desc limit #{limit1},#{limit2}
</select>
</mapper>
